.digital_tab{
	border: 1px solid #2ecc71;
	padding-top: 0.4em;
	padding-bottom:1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width:9.5em !important;
}

.selected_tab{
	background: #E4E0E0;
}

.aspk_top{
	margin-top:1em;
}

.aspk_clear{
	clear:left;
}

.aspk_font{
	font-size:22px;
}

.aspk_center{
	text-align:center;
}

.aspk_img{
	width:2em;
}